<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @internship.host.name %> and <%= @internship.intern.name %></h1>
    <p>
      Congratulations! You are doing an internship together!
    </p>

    <p>
      <b><%= @internship.start_time.strftime("%B %d, %Y") %></b>
    </p>

    <p>
      <b><%= @internship.get_timeslot %></b>
    </p>

    <p>
    This is your description of the internship:
    </p>

    <p>
      <b><%= @internship.description %></b>
    </p>
    
  </body>
</html>

<!-- each others emails? -->