<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @internship.host.name %>

      <%- if @internship.intern %>
        and <%= @internship.intern.name %>
      <% end %>
    </h1>
    <p>
      The following internship was deleted:
    </p>

    <p>
      <b><%= @internship.slot.day.date %></b>
    </p>

    <p>
      <b><%= @internship.slot.get_time %></b>
    </p>

    <p>
    This is your description of the internship:
    </p>

    <p>
      <b><%= @internship.description %></b>
    </p>
    
  </body>
</html>