<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @host.name %> and <%= @intern.name %></h1>
    <p>
      The following internship was deleted:
    </p>

    <p>
      <b><%= @day.date %></b>
    </p>

    <p>
      <b><%= @time %></b>
    </p>

    <p>
    This is your description of the internship:
    </p>

    <p>
      <b><%= @description %></b>
    </p>
    
  </body>
</html>