<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @host.name %> and <%= @intern.name %></h1>
    <p>
      Someone made changes to your internship.
      Please mark in your calendar:
    </p>

    <p>
      <b><%= @internship.start_time.strftime("%B %d, %Y") %></b>
    </p>

    <p>
      <b><%= @time %></b>
    </p>

    <p>
    This is your description of the internship:
    </p>

    <p>
      <b><%= @description %></b>
    </p>
    
  </body>
</html>