<h1>
  <%= @day.date %>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th colspan="2">Host</th>
      <th>Intern</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <%- @day.slots.each do |slot| %>
      <tr>
        <td><%= slot.name %></td>

<!--         <td>
          <%= form_tag (internships_path) do %>
           
            <%= label_tag 'email', 'Email' %>
            <%= text_field_tag 'email' %><br>
           
            <%= label_tag 'name', 'Name' %>
            <%= password_field_tag 'name' %>
           
            <%= submit_tag "Teach!"%>
          <% end %>
        </td> -->


        <td>
          <ul>
            <li>
            <%- slot.internships.each do |internship| %>
            <!-- sollten in td horizontally aligned sein -->
              <%= internship.description %>
              <br/>
              <%= internship.host.email %>
              <%= link_to "delete", internship, method: :delete, data: { confirm: 'Are you sure?' } %>
              <br/>
              <%= internship.host.name %>
            <% end %>
            </li>

            <li>
            <%= form_tag({controller: "internships", action: "create", method: "post"}, {class: 'host_form'}) do %>
              <%= hidden_field_tag :slot_id, slot.id %>

              <%= text_area_tag :description, nil, placeholder: 'Description' %>
              <br/>

              <%= text_field_tag :email, nil, placeholder: 'Email' %>
              <br/>

              <%= text_field_tag :name, nil, placeholder: 'Name' %>

              

              <%= submit_tag("Offer Internship") %>
            <% end %>
            </li>
          </ul>
        </td>





      </tr>
    <% end %>
  </tbody>  
</table>