<h1>
  <%= @day.date %>
</h1>

  
<%- @day.slots.each do |slot| %>
  <div class="slot">
    <h4><%= slot.name %></h4>
    <!-- button trigger modal -->
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <a href=<%= new_internship_path(:slot_id => slot.id) %> data-toggle="modal" data-target="#myModal2">Yes, I want to offer a new internship!</a>
    </div>

  
    <%- slot.internships.each do |internship| %>
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <div class="text-field">
            <blockquote class="pull-right">
              <p>"<%= internship.description %>"</p>
              <small><%= internship.host.name %> <%= mail_to internship.host.email %></small>

              <%= link_to internship, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </blockquote>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <% unless internship.intern %>
            <a href=<%=sign_up_form_internship_path(internship)%> data-toggle="modal" data-target="#myModal">Yes, I want to become <%= internship.host.name %>'s intern!</a>
          <% else %>
            <p class="text-center">
              Lucky Intern:</br>
              <%= internship.intern.name %></br>
              <%= mail_to internship.intern.email %>
            </p>
            <p>
              <%= link_to sign_up_form_internship_path(internship), method: :get do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </p>
            <p>
              <%= form_for internship do |f| %>

                <%= f.submit "Remove" %>
              <% end %> 

            </p>

          <% end %>
        </div>
        
      </div>

    <% end %>

<!--     <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <%= @internship.errors.length if @internship %>
        <%= form_tag({controller: "internships", action: "create", method: "post"}, {class: 'host_form'}) do %>
          <%= hidden_field_tag :slot_id, slot.id %>
          <%= text_area_tag :description, nil, placeholder: 'Description' %>
          <br/>

          <%= text_field_tag :email, nil, placeholder: 'Email' %>
          <br/>

          <%= text_field_tag :name, nil, placeholder: 'Name' %>
          

          <%= submit_tag("Offer Internship") %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div> -->
<!--     </div>
  </div> -->
<% end %>

<!-- Modal -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="myModal2" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>