<div class="row">
<!--     <div class="text-left">
      <a href=<%= root_path%>><i class="fa fa-arrow-left"></i>
      </a>
    </div>
 -->    
    <h1>
      <%= @day.date.strftime("%A, %B %d, %Y") %> 
    </h1>
  
  <div class="row">
    <div class="col-xs-6 col-sm-4"></div>

    <% if @day.date >= Date.today %>
      <div class="col-xs-6 col-sm-4">
        <a href=<%= new_internship_path(:day_id => @day.id) %> data-toggle="modal" data-target="#myModal2" type="button" class="btn btn-primary btn-lg" role="button">I want to offer a new internship!</a>
      </div>
    <% else %>
      <%=  "DATE IS IN THE PAST, CAN'T OFFER ANY MORE INTERNSHIPS" %>
    <% end %>
    <div class="col-xs-6 col-sm-4"></div>
  </div>

</div>

<div class="row">

  <%- @internships.each do |internship| %>
    <%= render :partial => "internships/show" , :locals => {:internship => internship}%>
  <% end %>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="myModal2" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="myModal3" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<div id="myModal4" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>