<h1>
  <%= @day.date %>
</h1>

  
<%- @day.slots.each do |slot| %>
  <div class="slot">
    <h4><%= slot.name %></h4>
  
    <%- slot.internships.each do |internship| %>
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <div class="text-field">
            <blockquote class="pull-right">
              <p>"<%= internship.description %>"</p>
              <small><%= internship.host.name %> <%= mail_to internship.host.email %></small>

              <%= link_to internship, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </blockquote>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href=<%=sign_up_form_internship_path(internship)%> data-toggle="modal" data-target="#myModal">Yes, I want to be <%= internship.host.name %>'s intern!</a>
        </div>
        
      </div>

    <% end %>

    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <%= @internship.errors.length if @internship %>
        <%= form_tag({controller: "internships", action: "create", method: "post"}, {class: 'host_form'}) do %>
          <%= hidden_field_tag :slot_id, slot.id %>
          <%= text_area_tag :description, nil, placeholder: 'Description' %>
          <br/>

          <%= text_field_tag :email, nil, placeholder: 'Email' %>
          <br/>

          <%= text_field_tag :name, nil, placeholder: 'Name' %>
          

          <%= submit_tag("Offer Internship") %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
    </div>
  </div>
<% end %>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>