<h1>
  <%= @day.date %>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Host</th>
      <th>Intern</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <%- @day.slots.each do |slot| %>
      <tr>
        <td><%= slot.name %></td>

        <td>
          <%= form_tag (internships_path) do %>
           
            <%= label_tag 'email', 'Email' %>
            <%= text_field_tag 'email' %><br>
           
            <%= label_tag 'name', 'Name' %>
            <%= password_field_tag 'name' %>
           
            <%= submit_tag "Teach!"%>
          <% end %>
        </td>

        <td>
          <%= form_tag (internships_path) do %>
           
            <%= label_tag 'email', 'Email' %>
            <%= text_field_tag 'email' %><br>
           
            <%= label_tag 'name', 'Name' %>
            <%= password_field_tag 'name' %>
           
            <%= submit_tag "Learn!"%>
          <% end %>
        </td>

        <td>
          <%- internship = slot.internships.build %>

          <%= form_for internship do |f| %>
            <%= f.label :description %>
            <%= f.text_area :description %>

            <%= f.submit %>
          <% end %>
        </td>





      </tr>
    <% end %>
  </tbody>  
</table>