<h1>
  <%= @day.date %>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Host</th>
      <th>Intern</th>
    </tr>
  </thead>

  <tbody>
    <%- @day.slots.each do |slot| %>
      <tr>
        <td><%= slot.name %></td>
        <td>
        <!-- <%- internship = slot.internships.build %> -->
        <%= form_for Person.new do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.submit %>
        <% end %>







          <!-- <form class="form-inline">
            <input type="text" class="input-small" placeholder="Email">
            <input type="text" class="input-small" placeholder="Name">
            <button type="submit" class="btn">Offer Slot</button>
          </form> -->
        </td>
<!--         <td>
          <form class="form-inline">
            <input type="text" class="input-small" placeholder="Email">
            <input type="text" class="input-small" placeholder="Name">
            <button type="submit" class="btn">Apply for Slot</button>
          </form>
        </td> -->
      </tr>
    <% end %>
  </tbody>  
</table>