<h1>
  <%= @day.date.inspect %> <i class="fa fa-calendar"></i>
  <!-- TODO better alternative? -->
</h1>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <a href=<%= new_internship_path(:day_id => @day.id) %> data-toggle="modal" data-target="#myModal2" type="button" class="btn btn-primary btn-lg" role="button">I want to offer a new internship!</a>
  </div>
  <div class="col-md-4"></div>
</div>


<%- @internships.each do |internship| %>
  <div class="internship" id="internship_">
  <!-- the line above is still unclear to me -->
    <!-- button trigger modal -->
    <h4>
      <i class="fa fa-clock-o fa-2x"></i>
      <%= internship.get_timeslot %>
    </h4> 
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <div class="text-field">
            <blockquote class="pull-right">
              <p>"<%= internship.description %>"</p>
              <small><%= internship.host.name %> <%= mail_to internship.host.email %></small>

              <%= link_to internship, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </blockquote>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <% unless internship.intern %>
            <a href=<%=sign_up_form_internship_path(internship)%> data-toggle="modal" data-target="#myModal">Yes, I want to become <%= internship.host.name %>'s intern!</a>
          <% else %>
            <p class="text-center">
              Lucky Intern:</br>
              <%= internship.intern.name %></br>
              <%= mail_to internship.intern.email %>
            </p>
            
            <p>
              <a href=<%=edit_internship_path(internship)%> data-toggle="modal" data-target="#myModal3">
                 <i class="fa fa-pencil"></i>
              </a>             
            </p>
            <p>


              <%= form_for internship do |f| %>

                <%= f.submit "Remove" %>
              <% end %>
            </p>
          <% end %>
        </div> 
      </div>
  </div>
<% end %>

<!-- Modal -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="myModal2" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="myModal3" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>