<div class="jumbotron">
  <h1 class="start-page-headline">
    Welcome to<br>
    Open Day @ nugg.ad
  </h1>
  <p>
    Don't miss out on the exclusive chance to work with some of the finest and brightest professionals here at nugg.ad! Prepare for a life changing experience! Look over your Tellerrand!
  </p>

  <p>
    <%- if @upcoming_day.nil? %>

      <a href=<%= new_day_path %> data-toggle="modal" data-target="#new_day" type="button" class="btn btn-primary btn-lg" role="button">
        Start a new day!
      </a>

    <%- else %>

      <a class="calendar-date" href="<%= day_path(@upcoming_day)%>">
        <span><%= @upcoming_day.date.strftime("%d") %></span><span><%= @upcoming_day.date.strftime("%b") %></span><span><%= @upcoming_day.date.strftime("%Y") %></span>
      </a>
      <%= remaining_time_in_words(@upcoming_day) %>
    <%- end %>

  </p>

</div>

<div id="new_day" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>